@{
    ViewData["Title"] = "Home Page";
}
<div class="background">
<div class="text-center">
    <h1 class="display-4">Hola!, Create you Blogs and Post Content:</h1>
    <br>
    <a href="/Blog" class="btn btn-dark">Click Here</a>
</div>
</div>